body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1c1c2e;
    color: #fff;
    margin: 0;
    padding: 0;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.output-container {
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
    display: inline-block;
    background: #2a2a3b;
    padding: 20px;
    border-radius: 10px;
}

img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}
